body{
    background-color: #52A79B;
    color: #edf6f5;
    padding: 30px;
}

button{
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0;
    outline: none;
    background: transparent;
    border: 2px solid;
    text-decoration: none;
    font-weight: 700;
    width: 150px;
    border-radius: 5px;
    color: #354584;
    letter-spacing: 1px;
}

button:hover{
    background-color: #52A79B;
    border: none;
    color: #18322e;
    box-shadow: 0 0 10px #18322e;
}


